* {
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
  padding: 20px 40px;
}

 .top-list{
  display: flex;
  list-style: none;
  gap: 20px;
  text-align: center;
}
nav .top-list a{
  text-decoration: none;
  color: #575757;
  font-weight: 10;
  font-size: 13px;
  align-items: center;
  
}
.logo {
  width: 100px;
  padding: 0 100px;
}
.register-btn{
  display: inline-block;
  padding: 15px 20px;
  background-color: #1D4ED8;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  font-size: 13px;

}
header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/banner.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
}
.header-conetent{
  color: white;
    text-align: center;
    display: grid;
    gap: 20px;
}
.header-conetent h1{
  font-size: 60px;
white-space: nowrap;
}
.header-conetent p{
  max-width: 60ch;
    margin: 0 auto;
    font-size: 20px;
}
.btn{
  display: block;
  padding: 18px 50px;
  background-color: #1D4ED8;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  font-size: 18px;
  align-items: center;
  width: max-content;
  margin: 40px auto 0px;
}
/*card*/

.card-Speakers h1{
  justify-content: space-between;
  text-align: center;
  padding: 50px 0;

}
.speakers-card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 10px 3%;
}
.speakers-card .left-side img{
  width: 100%;
  border-radius: 15px;
}
.speakers-card .ai{
  color: #2563EB;
  font-size: 12px;

}
.speakers-card .team{
  color: #575757;
  font-size: 14px;
}
.left-side{
  display: grid;
  gap: 8px;
  white-space: nowrap;
}
.left-side h2, .ai, .team{
  margin: 0;
  padding-left: 25px;
}
/*Secure Your Spot*/
.spot{
  justify-content: space-between;
  text-align: center;
  padding: 50px 0;
}
.spot p{
  padding: 10px;
  color: #575757;
  font-size: 15px;
}

.card-container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  overflow-x: auto;
  white-space: nowrap;
}
.card-tabel{
  background-color: #E5E7EB;
  padding: 10% 15%;
  border-radius: 12px;
  text-align: center;
  text-align: left;
  
}
.card-tabel p{
  font-size: 20px;
  color: #888888;
}
.card-tabel h1{
  font-size: 50px;
  margin: 15px 0 0px;
}
.card-tabel .nd{
  font-size: 15px;
}
.card-tabel ul{
  text-align: left;
  margin: 40px 0px;
  list-style: none;
}
.card-tabel ul li{
  margin: 15px 0;
}
.card-tabel ul li::before{
  content: '\2022';
  color: #2563EB;
  font-weight: bold;
  margin-right: 8px;

}

.card-tabel .Standard{
  width: 100%;
  padding: 8px 100px;
color: #1D4ED8;
font-size: 15px;
border: 1px solid#1D4ED8;
border-radius: 10px;
margin-top: 20px;
cursor: pointer;
text-align: center;
text-decoration: none;
transition: all 0.5s ease;
}
.card-tabel .Standard:hover{
background-color: chocolate;
}
.card-tabel .pro{

  width: 100%;
  padding: 15px 100px;
color: white;
font-size: 15px;
background-color: #2563EB;
border-radius: 10px;
margin-top: 20px;
cursor: pointer;
text-align: center;
text-decoration: none;
transition: all 0.5s ease;
}

.card-tabel .pro:hover{
background-color: chocolate;
}
.card-pro{
  background-color: #0D1B2A;
  padding: 10% 15%;
  border-radius: 12px;
  text-align: center;
  text-align: left;
  color: #FFFFFF;
  
}
.us{
  width: 100%;
  padding: 15px 100px;
color: #0D1B2A;
font-size: 15px;
border: 1px solid#0D1B2A;
border-radius: 10px;
margin-top: -80px;
cursor: pointer;
text-align: center;
text-decoration: none;
transition: all 0.5s ease;
background-color: white;
}

.card-tabel .us:hover{
background-color: chocolate;
}
