* {
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
  padding: 20px 40px;
}

 ul{
  display: flex;
  list-style: none;
  gap: 20px;
  text-align: center;
}
nav ul li a{
  text-decoration: none;
  color: #575757;
  font-weight: 10;
  font-size: 13px;
  align-items: center;
  
}
.logo {
  width: 100px;
  padding: 0 100px;
}
.register-btn{
  display: inline-block;
  padding: 15px 20px;
  background-color: #1D4ED8;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  font-size: 13px;

}
header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/banner.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
}
.header-conetent{
  color: white;
    text-align: center;
    display: grid;
    gap: 20px;
}
.header-conetent h1{
  font-size: 60px;
white-space: nowrap;
}
.header-conetent p{
  max-width: 60ch;
    margin: 0 auto;
    font-size: 20px;
}
.btn{
  display: block;
  padding: 18px 50px;
  background-color: #1D4ED8;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  font-size: 18px;
  align-items: center;
  width: max-content;
  margin: 40px auto 0px;
}
/*card*/

.card-Speakers h1{
  justify-content: space-between;
  text-align: center;
  padding: 50px 0;

}
.speakers-card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 10px 3%;
}
.speakers-card .left-side img{
  width: 100%;
  border-radius: 15px;
}
.speakers-card .ai{
  color: #2563EB;
  font-size: 12px;

}
.speakers-card .team{
  color: #575757;
  font-size: 14px;
}
.left-side{
  display: grid;
  gap: 8px;
  white-space: nowrap;
}
.left-side h2, .ai, .team{
  margin: 0;
  padding-left: 25px;
}
